.accountpage-accntcontrol-innerview-inputview {
  border-bottom: 2px solid #000;
  margin-left: 5%;
  width: 65%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accountpage-accntcontrol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 20%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.input-control {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 2.13rem;
  margin-left: 5%;
  width: 65%;
}

.accnt-control {
  height: 80%;
}

.accountpage-accntcontrol-innerview {
  display: flex;
  width: 75%;
  height: 100%;
}

.accountpage-accntcontrol-innerview-label {
  margin-right: 2%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.account-page-accntcontrol-status{
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5%;    
}

.account-page-accntcontrol-status-err{
  width:60%;
  height:100%;   
}

.account-page-accntcontrol-status-btn {
  height: 50%;
  width: 25%;
  padding: 1%;
  background: green;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
}

.account-page-ordertablecontainer {
  height: 90%;
  margin-left: 5%;
  width: 90%;
  margin-top: 5%;
  display: flex;
  flex-flow: column nowrap;
}

.account-page-ordertableheader,
.account-page-ordertablecontent-orderitem {
  width: 100%;
  display: flex;
  height: 20%;
}

.account-page-ordertableheader-tablecell,
.account-page-ordertablecontent-orderitem-cell {
  flex: 1;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-page-ordertablecontent-orderitem-cell-other {
  flex: 1;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
}

.account-page-ordertableheader-tablecell-other {
  width: 50%;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-page-ordertablecontent {
  width: 100%;
  height: 80%;
  display: flex;
}

.account-page-ordertablecontent-columns {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.account-page-ordertablecontent-content {
  width: 50%;
  height: 100%;
  border: 1px solid lightgray;
}

.account-page-ordertablecontent-columns {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.account-page-ordertablecontent-content {
  width: 50%;
  height: 100%;
  border: 1px solid lightgray;
}

.cancel-button {
  background: red;
  color: white;
  width: 70%;
}

.accept-button {
  background: green;
  color: white;
  border: 0;
  width: 100%;
  height: 5rem;
}

.order-details {
  height: 100%;
}

.order-details-innerview {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
}