@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Russo+One");
.app-header {
  height: 15rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  background: white;
}

.app-logo {
  display: flex;
  margin: 0;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-self: flex-start;
}

.app-logo div {
  background-image: url("../images/website-logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 70%;
  height: 100%;
}

.app-logo figcaption {
  display:none;
}

.actual-item-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}

.actual-item-container-vertical{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;    
}

.selected {
  background-color: green;
  color: white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.actual-item {
  flex: 1;
  border-right: 2px solid white;
}

.actual-item:last-child {
  border-right: 0px solid white;
}

.actual-item::-moz-focus-inner {
  border: 0;
}

.carousel-horizontal {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  border-bottom: 2px solid black;
}

.inner-carousel-horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100%;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.carousel-vertical {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 100%;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.inner-carousel-vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70%;
}

.item {
  background: white;
  color: white;
  width: 100%;
  height: 100%;
  display: none;
}

.is_ref {
  display: block;
}

.arrow {
  text-decoration: none;
  color: black;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow div {
  font-size: 1.5rem;
}

.vertical{
  width:100%;
  height:15%;
}

.drop-down-list {
  display: none;
  background-color: #f1f1f1;
  border: 2px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50%;
}

.show {
  display: flex;
  flex-flow: column nowrap;
}

.drop-down-list-item {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.drop-down-list-item:hover,
.drop-down-list-item:focus {
  background: lightblue;
}

.drop-down-container {
  position: absolute;
  top: 8px;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  z-index: 99;
  width: 9rem;
  height: 18rem;
}

.acctn-logo-button {
  width: 100%;
  height: 50%;
  padding: 0;
  border: 0;
  background: white;
}

.acctn-logo-button::-moz-focus-inner {
  border: 0;
}

.acctn-logo-button div {
  background-image: url("../images/account_circle_black.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-app-container {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: 80%;
  filter: drop-shadow(7px 35px 12px rgba(0, 0, 0, 0.75));
}

.main-app-container-header {
  height: 15%;
  width: 75%;
  background: white;
  clip-path: polygon(0 0, 78% 0, 100% 100%, 0% 100%);
  color: black;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: flex-start;
  border-bottom: 1px solid black;
}

.main-app-container-header figcaption {
  margin-left: 1rem;
  font-family: "Russo One", sans-serif;
}

.inner-app-container {
  width: 100%;
  height: 85%;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  background: white;
  overflow-y: auto;
}

.inner-app-container main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.app-content-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
}

.subpage-cmd-box {
  width: 100%;
  height: 9rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.only{
  justify-content: flex-start;
}

.submit-btn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4caf50;
  border: none;
  color: white;
  text-decoration: none;
  height: 95%;
  width: 30%;  
}

.submit-btn div{
  display: none;   
}

.submit-btn div.back{
  display: block;
}

.forward {
  align-self: flex-end;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  margin-right: 4%;
}

.backward {
  align-self: flex-start;
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  margin-left: 4%;
}

.disabled {
  background-color: darkgrey;
}

@media only screen and (min-width: 400px){
  .submit-btn div{
    display: block;   
  }
  
  .app-logo{
    width: 25%;  
  }
  
  .app-logo div{
    width: 25%;   
  }
  
  .app-header figcaption{
    font-family: "Pacifico", cursive;
    font-size: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-app-container-header{
    width:45%;   
  }
}