@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.mainContainer {
  display: flex;
  align-items: center;
  width: 85%;
  height: 95%;
  flex-flow: column nowrap;
  border: 2px solid black;
  border-radius: 5%;
  background-color: white;
}

.bannerImage {
  display: flex;
  flex-flow: column nowrap;
  height: 25%;
  width: 50%;
}


.bannerImage .logo {
  height:80%;
  background-image: url('../images/website-logo.svg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerImage figcaption {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  text-align: center;
}

.form-container {
  height: 70%;
  width: 75%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.form-container header {
  width: 100%;
  height: 10%;
  border-bottom: 2px solid black;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Roboto Condensed', sans-serif;
}

.form-container header div {
  width: 50%;
}

.form-container header div:hover {
  background-color: aqua;
}

.form-container header div:first-child {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: flex-end;
  border-right: 2px solid black;
}

.form-container header div:first-child p {
  margin-right: 1.1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.form-container header div:last-child {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  border-left: 2px solid black;
}

.form-container header div:last-child p {
  margin-left: 1.1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.inner-form-container {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.inner-form-container footer {
  align-self: flex-end;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 400px){
  .mainContainer{
    width: 60%;
    height: 85%;
  }
  
  .bannerImage {
    width: 40%;   
  }
  
  .form-container{
    height: 65%;   
  }
  
  .inner-form-container footer{
    height: 12%;   
  }
}
