@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.checkout-page {
  display: flex;
  margin: 0;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
} 

.section-space {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.checkout-page-section-header{
  font-size: 6vw;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.checkout-page-vieworderscontainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.checkout-page-vieworderscontainer-orderitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  margin-top: 2%;
}

.checkout-page-vieworderscontainer-orderitem-desc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.checkout-page-vieworderscontainer-orderitem-desc-remove {
  font-size: 0.75rem;
  color: blue;
  cursor: pointer;
}

.status-bar {
  height: 7rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 4%;
}

.status-bar-message{
  height: 50%;
  width:100%;
}

.checkout-action-button {
  font-size: 1.1rem;
  cursor: pointer;
  color:white;
  background-color: green;
  border-radius:15%;
  font-family: 'Roboto Condensed', sans-serif;
  width:80%;
  height:50%;
  display:flex;
  justify-content: center;
  align-items:center;
}

.checkout-page-viewreservationcontainer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-page-viewreservationcontainer div {
  margin-right: 5%;
}

.checkout-page-address {
  display: flex;
  flex-flow: column nowrap;
}

.checkout-page-address-form-group{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 4%;
  justify-content: space-between;
}

.checkout-page-address-form-group div{
  flex: 1;
}

.checkout-page-address-input{
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 1.15rem;
  margin-left: 5%;
}

.street,
.city {
  width: 80%;
}

.state {
  width: 70%;
}

.zipcode {
  width: 50%;
}

.checkout-page-action-bar{
  align-self: flex-end;
  border: 5px inset lightgray;
  margin-right: 3%;
  height:5rem;
}

.checkout-page-main-action-btn{
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  font-size:2rem;
}

.checkout-page-main-checkbox{
  margin-top: 10%; 
  margin-bottom: 10%;    
}

@media only screen and (min-width: 400px){
  .checkout-page-section-header{
    font-size: 3vw;  
  }
    
  .checkout-page-vieworderscontainer-orderitem {
    height: 4rem;
  }
  
  .status-bar{
    height: 3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 4%;  
  }
  
  .status-bar-message{
    width:50%;
    height:100%;
  }
  
  .checkout-action-button{
    width:40%;
    height:100%;
  }
  
  .checkout-page-action-bar{
    font-size: 3rem;   
  }
  
  .checkout-page-main-checkbox{
    margin-top: 5%; 
    margin-bottom: 5%;    
  }
}