.date-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 100%;
  border-bottom: 2px solid black;
}

.year-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.35rem;
  width: 25%;
} 

.calendar-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
}

.calendar-day-container {
  width: 9rem;
  height: 9rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border: 1px solid black;
}

.day-number {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 1.5rem;
  align-self: flex-start;
}

.selection-box {
  align-self: center;
  margin-bottom: 15%;
  width: 50%;
  height: 50%;
}

.selected-day-box {
  display: none;
}

.selected-day-box + span {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 100%;
  height: 100%;
  margin: -1px 0 0 0;
  vertical-align: middle;
  background: white left top no-repeat;
  border: 1px solid #ccc;
  cursor: pointer;
}

.selected-day-box:checked + span {
  background: #006400 -19px top no-repeat;
}

.selected-day-box + span {
  margin-right: 4px;
}

.icon-cannot-book {
  background: gray;
  align-self: center;
  width: 50%;
  height: 50%;
  margin-bottom: 15%;
}

.reservation-details-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items:center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.selected-reservation-day {
  width: 90%;
  height: 12rem;
  display: flex;
  justify-content: center;
  border-radius: 15%;
  align-items: center;
  background: white;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 1));
}

.selected-reservation-day div {
  font-size: 3.5rem;
}

.reservation-times-container {
  width: 95%;
  height: 22rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.add-times-container {
  width: 100%;
  height: 40%;
  padding: 0;
}

.add-times-container-inner {
  display: flex;
  flex-flow: column nowrap;
}

.add-times-cmd-box {
  display: flex;
  width: 100%;
}

.add-times-cmd-box-inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin-right: 5%;
}

.add-times-cmd-box-inner input {
  width: 40%;
}

.add-times-cmd-errs {
  display: flex;
  flex-flow: column nowrap;
}

.view-times-container {
  width: 100%;
  height: 15%;
  padding: 0;
}

.times-item-container-outer {
  display: flex;
  flex-flow: column nowrap;
}

.times-item-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 2%;
  margin-right: 5%;
}

.times-item-container-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}

.times-item-container-inner div {
  width: 40%;
}

@media only screen and (min-width: 400px){
  .reservation-details-container{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .selected-reservation-day{
    width: 35%;
    height: 25rem;
    display: flex;
    justify-content: center;
    border-radius: 15%;
    align-items: center;
    background: white;
    margin-right: 3%;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 1)); 
  }
  
  .reservation-times-container{
    width: 50%;
    height: 22rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;  
  }
}