@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/**
 *  Main Landing page
 */
html, body, #root{
  width:100%;
  height:100%;
}

#root{
  margin:0;
  padding:0;
}

.outerContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.landingPage{
  background-image: url('../images/landingimages.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landingPage-maincont{
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width:100%;
  height:50%;
}

.landingPage-h1{
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 4rem;
  margin-bottom: 0;
}

.landingPage-maincont p{
  color: white;
  width:50%;
}

.action-button{
  padding: 0.5rem 2.5rem;
  border-radius: 7%;
  font-size: 1.15rem;
  background: #16a085;
  color: #fff;
  transition: 0.1s ease;
  cursor: pointer;
  width: 80%;
  font-family: 'Roboto Condensed', sans-serif;
}

/*
 * Shell of app 
 */
.mainBackground{
  background-color: #4d5fba;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); 
}

.appshell{
  flex-flow: column nowrap;   
}

/**
 * Styles for modals
 */

.modal {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
}

.modal-main{
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.display-block{
  display: block;
}

.display-none{
  display: none;
}

.modal-main-inner{
  display: flex;
  width:100%;
  height:100%;
  flex-flow: column nowrap;
  align-items: center;
}

.modal-btn{
  background: green;
  color: white;
  border: 0;
  width: 40%;
  height: 3.3rem;
  font-family: 'Roboto Condensed', sans-serif;
}

@media only screen and (min-width: 400px){
  .landingPage-maincont{
    width:50%;   
  }
  
  .landingPage-h1{
    font-size: 7rem;   
  }
}
