@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.signin-form-group {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: 80%;
}

.signin-form-group div {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 6%;
}

.signin-form-group div:first-of-type {
  margin-top: 2%;
}

label {
  font-size: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.signin-form-group div input {
  border-style: inset;
  border-width: 2px;
  border-color: gray;
  background-color: lightgrey;
  color: #111;
  font-size: 2.25rem;
} 
