@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.signup-form-group{
  display: flex;
  flex-flow: column nowrap;
  width:80%;
  height:80%;
}

.signup-form-group div{
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 6%;
}

.signup-form-group div:first-of-type {
  margin-top: 2%;
}

label {
  font-size: 1.15rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.signup-form-group div input {
  border-style: inset;
  border-width: 2px;
  border-color: gray;
  background-color: lightgrey;
  color: #111;
  font-size: 1.15rem;
}
