@import url('https://fonts.googleapis.com/css?family=Pacifico');
.main-store-page{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.inventory-links{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width:100%;
  height:80%;
}

.inventory-link{
  border: 3px solid black;
  margin-right: 5%;
  width: 40%;
  height: 40%;
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  text-decoration: none;
}

.grills-img {
  background-image: url("../images/grillstoreimage.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chairs-img {
  background-image: url("../images/chairsstoreimage.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drinks-img {
  background-image: url("../images/drinksstoreimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-img {
  background-image: url("../images/otherstoreimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-basket {
  width: 30%;
  height: 100%;
  position: relative;
}

.checkout-basket-img {
  position: absolute;
  z-index: 1;
  background-image: url("../images/shoppingcartstore.png");
  background-size: 70% 80%;
  background-position: center bottom;
  background-repeat: no-repeat;
  top: 20%;
  width: 100%;
  height: 80%;
}

.checkout-basket-status {
  position: absolute;
  z-index: 2;
  left: 30%;
  font-size: 5.5rem;
  color: blue;
  text-shadow: -3px 0px 0px rgba(133, 140, 136, 1);
}

.product-details-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}

.product-details-box-extra {
  width: 65%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.product-item {
  text-decoration: none;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item:hover {
  border: 2px dotted green;
}

.product-active {
  border: 2px solid blue;  
}

.product-details-initial-box {
  display: flex;
  justify-content: center;
  align-items: center;   
}

.product-details-initial-box-info{
  margin: 0; 
  padding: 0; 
  font-size: 1.35rem; 
  width: 60%;    
}

.product-details-add-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.35rem;
}

.other-page-nav {
  width: 30%;
  height: 100%;
  border: 2px solid black;
}

@media only screen and (min-width: 400px){
  .inventory-links{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 80% 
  }
  
  .checkout-basket-status {
    font-size: 6.5rem; 
    left: 45%;
  }
  
  .product-details-initial-box-info{
    margin: 0; 
    padding: 0; 
    font-size: 2.35rem; 
    width: 60%;
  }    
}

    